/* importando tipografia */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');


/* Reset css */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;
}

/* variaveis css */
:root {
    --font_bebas: 'Unbounded', cursive;
    --font_mont: 'Josefin Sans', sans-serif;
    --verde: #1B3B27;
    --branco_pastel: #ffffff;
}

.alinhamento {
    width: 1440px;
    margin: 0 auto;
}

/* cabeçalho */
header {
    background-color: var(--verde);
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    width: 150px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;

}

.menu {
    display: flex;
    justify-content: space-between;
    width: 600px;
    list-style: none;
}

.menu a {
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: var(--font_mont);
    font-weight: 800;
}

.menu a:hover {
    border-bottom: 2px solid var(--branco_pastel);
    color: var(--branco_pastel);
}

main {
    background-color: #fbfaf5;
}

/* quem_somos */
h1 {
    position: absolute;
    left: -999em;
    width: 1em;
    overflow: hidden;
}

.quem_somos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    gap: 50px;

}

/* .primeira_foto{
    width: 700px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px; */

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(0, 0, 0, 0);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-inner {
    height: 700px;
    margin-top: -90px;
}


.sobre {
    text-align: center;
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.sobre_titulo {
    text-transform: uppercase;
    font-family: var(--font_bebas);
    font-size: 60px;
}

.sobre_texto {
    font-family: var(--font_mont);
    font-size: 25px;
}

.btn_esg {
    background-color: var(--verde);
    border-radius: 30px;
    width: 250px;
    height: 60px;
    font-size: 25px;
    box-shadow: 5px 5px 40px 5px rgb(0, 0, 0, 0.4);
}

.btn_esg a {
    color: white;
    text-decoration: none;
    font-family: var(--font_mont);
}

/* data de laçamento */
.data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font_bebas);
    font-size: 80px;
    color: var(--branco_pastel);
    background-color: var(--verde);
    padding: 100px;
    text-transform: uppercase;
}

span {
    text-transform: uppercase;
    align-items: center;
}

/* imagens */
.imagens {
    background-color: var(--verde);
    padding-bottom: 100px;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imgs>* {
    width: 480px;
    border-radius: 50px;
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
}

/* esg */
.esg {
    /* padding: 50px 0; */
    /* background-image: url(./img/muie\ no\ mato\ 2.png); */
    /* background-size: 150%;
    background-repeat: no-repeat;
    background-position: 5% 50%; */
    width: 100%;
    height: 800px;
}


.sobre_esg {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 55px;

    
}

.sobre_esg_titulo {
    text-transform: uppercase;
    font-family: var(--font_bebas);
    font-size: 60px;
    color: #FFF;
    filter: brightness(100%);
}

.sobre_esg_texto {
    font-family: var(--font_mont);
    font-size: 30px;
    color: #FFF;
    filter: brightness(100%);

}

.parallax {
    display: flex;
    align-items: center;
    justify-content: center;
    /* The image used */
    background-image: url('./img/muie\ no\ mato\ 2.png');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#esg_branco {
    background-color: #FFF;
}

#esg_branco a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: var(--font_mont);
}

/* .esg img{
    box-shadow: 10px 10px 40px 10px rgba(0, 0, 0, 0.4);
    border-radius: 70px;
    width:50%;
    height: 70%; */


/* } */

/* formulario */

.formulario {
    background-color: var(--verde);
    padding: 100px 0;

}

.formulario_titulo {
    text-transform: uppercase;
    font-family: var(--font_bebas);
    font-size: 60px;
    color: var(--branco_pastel);
    text-align: center;
    margin: 15px;
}

form {
    color: white;
    font-family: var(--font_mont);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

form>div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-width: 700px;
    width: 90%;
    margin: 0 auto;
}

label {
    font-size: 25px;
}

input {
    height: 35px;
    padding: 20px;
}

textarea {
    padding: 20px;
}

.borda {
    border: 1px solid var(--branco_pastel);
    border-radius: 15px;
}

.btn_forms {
    background-color: white;
    border-radius: 30px;
    width: 200px;
    height: 60px;
    font-size: 25px;
    color: var(--verde);
    margin: 0 auto;

}

/* contato */


.mapa {
    width: 580px;
}

.contato {
    padding: 100px 0;
}

.contato_titulo {
    text-transform: uppercase;
    font-family: var(--font_bebas);
    font-size: 60px;
    text-align: center;
    margin-bottom: 15px;
}

.conteudo_contato {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.borda_mapa {
    border: 5px solid var(--verde);
    width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato_info {
    font-family: var(--font_mont);
    font-size: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.info {
    display: flex;
    align-items: center;
}

.info>i {
    margin-right: 20px;
    color: var(--verde);
}

/* footer */

footer {
    background-color: var(--verde);
    color: #FFF;
    font-family: var(--font_mont);
    font-size: 19px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* responsividade */
/* pequenas telas - 600px
celular - 600px até 768
tablet - 768 px ate 992
desktop - 992px ate 1200 px
grandes telas - acima de 1200px */

@media screen and (max-width: 1440px) {
    .alinhamento {
        width: 100%;
    }

    nav {
        padding: 0 50px;
    }

    .sobre {
        max-width: 500px;
    }

    .quem_somos {
        padding: 100px 50px;
    }

    .imgs {
        flex-wrap: wrap;
    }

    .sobre_esg_texto {
        font-size: 26px;
    }

    .esg img {
        width: 50%;
    }
}

@media screen and (max-width: 1200px) {

    .container{
        width: 100%;
       
    }

    .primeira_foto {
        width: 550px;
    }
    .data{
        font-size: 65px;
    }

    .esg img {
        width: 45%;
    }

    .sobre_esg {
        display: flex;
        gap: 70px;
    }

    .sobre_esg_texto {
        font-size: 22px;
    }
}

@media screen and (max-width: 900px) {

    .quem_somos {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .sobre {
        margin-top: 30px;
    }

    .imgs {
        gap: 50px;
    }

    .data {
        font-size: 45px;
    }

    .esg {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .sobre_esg {
        width: 600px;
    }

    .conteudo_contato {
        flex-direction: column-reverse;
        gap: 50px;
    }
}

@media screen and (min-width: 900px) {
    #burguer {
        display: none;
    }
}

@media screen and (max-width:768px) {
    #burguer {
        display: block;
        color: white;
        font-size: 55px;
    }

    #itens {
        position: absolute;
        /* Viewport Height */
        height: 92vh;
        /* viewport width */
        width: 50vw;
        top: 8vh;
        right: 0;
        background-color: var(--verde);
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .menu li {
        padding: 50px;
    }

    .menu {
        display: none;
    }

    .data {
        font-size: 38px;
    }

}

@media screen and (max-width: 580px) {
    .primeira_foto {
        width: 450px;
    }

    .data {
        font-size: 45px;
    }

    .esg img {
        width: 70%;
    }

    .sobre_esg_texto {
        padding: 0 40px;
    }

    .mapa {
        width: 400px;
    }

    .borda_mapa {
        width: 480px;
    }

    .conteudo_contato {
        align-items: center;
        justify-content: center;
    }

}